<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FreshGuardian
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" >
    <div class="login-box">
			<div>Caduc<span>App</span></div>
      <ion-grid class="login" >
        <div><input type="email" placeholder="Email"  name="user"></div>
				<div><input type="password" placeholder="Contraseña" name="password"></div>
				<div><input type="submit" value="Entrar" (click)="goToProductos()"></div>
        <a  alt="Registro" (click)="goToRegistration()"> Registrarse</a>
        <a  alt="¿Olvidaste tu Contraseña ?" (click)="goToRecupera()">¿Olvidaste tu Contraseña ?</a>
      </ion-grid>
    </div>
  </div>
</ion-content>

