<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of resp">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ item.id }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>nombre: {{ item.nombre }}</p>
            <p>correo: {{ item.correo }}</p>
            <p>contrasena: {{ item.contrasena }}</p>
            
          </ion-card-content>
          <button *ngIf="item.id !== undefined" (click)="deleteItem(item.id)">Eliminar</button>
           
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
