<!--<ion-card *ngFor="let appointment of appointments">
  <ion-card-header>
    <ion-card-title>Cita pendiente</ion-card-title>
    <ion-card-subtitle>Paciente: {{ appointment.patient }}</ion-card-subtitle>
    <ion-card-subtitle>Fecha: {{ appointment.date}}</ion-card-subtitle>
    <ion-card-subtitle>Hora: {{ appointment.hour }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    {{ appointment.notes }}
  </ion-card-content>

  <ion-button fill="clear">Listo</ion-button>
  <ion-button fill="clear" (click)="deleteAppointment(appointment.id)">Eliminar</ion-button>
</ion-card>-->
<p>hola</p>
<!--<card>
  <card-header>
    <card-subtitle>Awesome Subtitle</card-subtitle>
    <card-title>Awesome Title</card-title>
    <card-title>Awesome Title</card-title>
    <card-title>Awesome Title</card-title>
  </card-header>
  <card-content>
    Awesome content
  </card-content>
  <button>s</button>
  <button>n</button>
</card>

<ion-card *ngFor="let appointment of appointments">
    <ion-card-header>
      <ion-card-title>Cita pendiente</ion-card-title>
      <ion-card-subtitle>Paciente: {{ appointment.patient }}</ion-card-subtitle>
      <ion-card-subtitle>Fecha: {{ appointment.date}}</ion-card-subtitle>
      <ion-card-subtitle>Hora: {{ appointment.hour }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{ appointment.notes }}
    </ion-card-content>
  
    <ion-button fill="clear">Listo</ion-button>
    <ion-button fill="clear">Eliminar</ion-button>
  </ion-card>-->
